%h1 Описание работы SEO приложения

%p Приложение заполняет наиболее важные теги и метатеги, что положительно влияет на видимость сайта в поисковых системах.
%p На сегодня автоматически заполняются три тега Title, Description, Keywords.

%p
  %b Title
  – один из главных тегов на веб-странице. В нем содержится заголовок HTML-документа. Приходя на страницу, роботы
  поисковых систем в первую очередь обращаются к нему, чтобы прояснить для себя, какая именно информация здесь содержится.
%p
  %b Description
  – описание страницы, которое учитывается поисковиками и иногда транслируется в сниппете в выдаче.
%p
  %b Keywords
  – в данный метатег заносятся все ключевые слова, приведенные на странице сайта.

%h3 Особенности работы приложения
%ol
  %li
    Приложение генерирует теги в автоматическом режиме. Всего в приложение разработано 12 алгоритмов генерации.
    Каждый метод генериции используется для определённого типа страниц.
  %li
    Все теги которые изменялись вручную не будут заполняться приложением. Что бы приложение смогло сгенерировать
    описание для заполненной страницы удалите описание из граф 'Тег title', 'Мета-тег keywords', 'Мета-тег description'.
    %br
    = image_tag 'tags.png'
  %li Что бы не перезагружать систему приложение запускается раз в сутки в 3.00 по Москве.
