.fruits
  = image_tag 'fruits500.png'
  %p
    Для того, чтобы начать пользоваться приложением, установите его через интерфейс администратора.
  %p
    Вход в приложение осуществляется также через интерфейс администратора.
  %p
    = link_to 'Войти в приложение через интерфейс администратора', 'http://www.insales.ru/login',
              class: 'btn btn-warning btn-large', target: '_blank'