.formtastic
  text-align: center
  fieldset
    border: none
  ol
    list-style: none
    &.choices-group
      li
        display: inline-block
        text-align: left
        width: 50px
  label
    display: block
    font-size: 14px
    font-weight: bold
  .label
    color: #000000
    background-color: white
    text-shadow: none
    margin-top: 15px
  input[type=text]
    width: 400px
  .inline-hints
    margin-top: -7px
  legend
    margin-bottom: 0
    border-bottom: none
    margin-top: 15px
#hint
  position: fixed
  top: 250px
  right: 25px
  width: 260px
  color: #F26405